html {
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  margin: 0;
  transition: background-color 1s ease, opacity 5s ease;
  min-height: 100%;
}

button,
input,
optgroup,
select,
textarea {
  text-transform: none;
  border-style: none;
}

*,
*:before,
*:after,
:after,
:before {
  box-sizing: inherit;
}
